html,body {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	background-image: url("../images/dust.png");
	color: #777777;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	margin:0;
}

li{
	color: #777777;
}

header{
	height: 80px;
	margin:0;
	padding: 0;
	background-color: #ffffff;
	border-radius: 1px;
}

h1{
	border-bottom:solid #cccccc 2px;
	color: #4aaaa5;
	background-color: #ffffff;
	font-family: 'Georgia', Times, "Times_New_Roman", serif;
}

h2{
	border-bottom:solid #cccccc 2px;
	color: #4aaaa5;
	background-color: #ffffff;
	font-family: 'Georgia', Times, "Times_New_Roman", serif;
}

p{
	font-size: 18px;
	line-height: 1.5em;
}

footer{
	background-color: #666666;
	height: 100px;
	clear: both;
	text-align: center;
	border-top: solid #4aaaa5 8px;
}

.clear{
	clear: both;
}

.content{
	width: 650px;
	clear: both;
	background-color: #ffffff;
	border-radius: 15px;
	margin-left: 200px;
	margin-bottom: 50px;
	float: left;
	border:solid #cccccc 1px;
}

.width{
	width: 1160px;
}

#logo{
	height: 80px;
	float: left;
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 20px 20px 20px 20px;
	margin-left: 200px;
	border-radius: 5px;
	margin-top: 0px;	
}

.about{
	padding: 10px 20px 5px 20px;
}

.nav_bar{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-left: 375px;
}

.nav_bar li{
	list-style-type: none;
	float: left;
	padding: 10px;
	color: #777777;
}

.nav_bar a{
	text-decoration: none;
	color: #777777;
	transition: color 1s;
}

.nav_bar a:hover{
	color: #4aaaa5;

}

.connect{
	width: 270px;
	background-color: white;
	float: right;
	padding: 30px;
	border-radius: 15px;
	border:solid #cccccc 2px;
}

.icon{
	width: 60px;
	height: 60px;
	display: inline-block;
}

.icon img {
	width: 100%;
	height: auto;
}

.selfie {
	width: 250px;
	height: 250px;
	float: left;
	padding: 20px 20px 20px 20px;
}

.selfie img{
	width: 100%;
	/*max-width: 200px;*/
	/*height:auto;*/
	border-radius: 30px;
}

.bio{
	padding: 1px 20px 20px 20px ;
}

.left {
	float: left;
}

.right{
	float: right;
}

.text_center{
	text-align: center;
}

.foot{
	display: inline-block;
	padding-top: 10px;
	color: grey;
}